<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Test1:</strong>
  <%= @book.test1 %>
</p>

<p>
  <strong>author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>prices:</strong>
  <%= @book.prices %>
</p>

<p>
  <strong>publisheddate:</strong>
  <%= @book.publisheddate %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
